<%= form_with(model: @desk, url: desks_path) do |f| %>
  <div class="field">
    <%= f.label :number %>
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :status %>
    <%= f.check_box :status %>
  </div>
  <div class="actions">
    <%= f.submit "Dodaj biurko" %>
  </div>
<% end %>