<!DOCTYPE html>
<html>
  <head>
    <title>HotDesk</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <ul>
      <li>
        <%= link_to "Dodaj użytkownika", new_user_path %><br>
        <%= link_to "Dodaj biurko", new_desk_path %><br>
        <%= link_to "Dodaj pokoik", new_room_path %><br>
        <%= link_to "Dodaj rezerwacje", new_reservation_path %><br>
      </li>
    </ul>
  </body>
</html>
